<section class="ItemsComponent">
  <h2>Items list
    <button (click)="addItems()" md-mini-fab mdTooltip="Add new item">
      <md-icon md-list-icon>add</md-icon>
    </button>
  </h2>

  <md-card>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Marker</th>
        <th>Model</th>
        <th class="right">Edit</th>
        <th class="right">Delete</th>
      </tr>
      </thead>
      <tbody *ngIf="items">
      <tr *ngFor="let item of items">
        <td>{{item.name}}</td>
        <td>
          <a target="_blank" [href]='"http://www.artoolworks.com/support/app/marker.php?genImage&gen_single_number="+item.markerNumber+"&ecc_type=none&marker_size=80&marker_image_resolution=72&border_size=0.25&border_is_white=false&barcode_dimensions=3"'>
            <img
              [src]='"http://www.artoolworks.com/support/app/marker.php?genImage&gen_single_number="+item.markerNumber+"&ecc_type=none&marker_size=80&marker_image_resolution=72&border_size=0.25&border_is_white=false&barcode_dimensions=3"'>
            {{item.markerNumber}}
          </a>
        </td>
        <td>{{item.model}}</td>
        <td>
          <button md-button mdTooltip="Edit item" (click)="editItems(item);">
            <md-icon md-list-icon>info</md-icon>
          </button>
        </td>
        <td>
          <button md-button mdTooltip="Delete item" (click)="deleteItem(item.itemId)">
            <md-icon md-list-icon>delete</md-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </md-card>
</section>

