.AddItemComponent {
  .confirm {
    background-color: #673ab7;
    color: white;
  }

  md-input-container{
    width: 400px;
    display: block;
  }

  img {
    width: 400px;
  }
  md-select{
    width: 400px;
    display: block;
  }

}
